<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/style/style_pagina_principal.css') }}" />
    <title>PAGINA PRINCIPAL</title>
  </head>
  <main>
    <header>
        <img src="{{ url_for('static', path='/img/logo.png') }}" alt="SIAS" width="10%" class="header-logo"/>
      <nav id="menu">
        <ul>
          <li><a href="./inicio_sesion.html">Inicio sesion</a></li>
          <li><a href="./registro.html">Registrarse</a></li>
          <li><a href="./ordenMedicamentos.html">Solicitud Medicamentos</a></li>
          <li><a href="#">Asignacion citas</a></li>
        </ul>
      </nav>
      <div class="header-button">
        <a href="#" id="boton-menu" class="button">CONOCENOS</a>
        <a href="#" class="icono-responsive"
          ><i class="fa-solid fa-bars"></i
        ></a>
      </div>
    </header>
    <div class="contenedor1">
      <div class="contenedor1-cajas2">
        <img
          src="{{ url_for('static', path='/img/img1.jpg') }}"
          alt="Experiencia de usuario"
          width="100%"
          class="imagen_1"
        />
      </div>

      <section class="contenedor1-cajas">
        <h1 class="contenedor1-caja1-titulo">NUESTROS SERVICIOS.</h1>   
        <p id="parrafo-1">
          Realiza de forma facil y rapida tus procesos con la eps encontrando
          de manera segura soluciones virtuales a tu alcance con el fin de
          brindar una mejor experiencia de usuario.
        </p>
      </section>
    </div>

    <div class="contenedor2">
      <section class="contenedor1-cajas">
        <h2 class="contenedor1-caja3-titulo">INFORMACION DE INTERES..</h2>
        <p id="parrafo-2">
          A continuacion encontraras algunas de las dudas o inquietudes mas
          frecuentes.
        </p>
      </section>
      <section class="contenedor1-cajas">
        <div class="cajas">
          <article class="lista-articulo">
            <div class="contenedor1-cajas-interna">
              <span class="estilo-lista">01</span>
              <h5 class="lista-titulo">
                ¿debo estar registrado/a para acceder a los servicios que brinda
                la pagina ?
              </h5>
            </div>
            <p class="contenedor1-caja-interna-texto">
              R/ : si , para acceder a nuestros servicios debes realizar el
              registro de usuario una sola vez .
            </p>
          </article>

          <article class="lista-articulo">
            <div class="contenedor1-cajas-interna">
              <span class="estilo-lista">02</span>
              <h5 class="lista-titulo">
                ¿Puedo consultar ,cancelar o asignar citas medicas ?
              </h5>
            </div>
            <p class="contenedor1-caja-interna-texto">
              R/ : si , para acceder a nuestros servicios debes realizar el
              registro de usuario una sola vez.
            </p>
          </article>

          <article class="lista-articulo">
            <div class="contenedor1-cajas-interna">
              <span class="estilo-lista">03</span>
              <h5 class="lista-titulo">¿ Como solicito una cita medica ?</h5>
            </div>
            <p class="contenedor1-caja-interna-texto">
                R/ : Para la solicitud de una cita medica solo debe realizar el
              registro , al iniciar sesion dar en la pagina principal en el
              enlace del menu que dice CITA MEDICA .
            </p>
          </article>
        </div>
      </section>
    </div>
    <section class="contenedor2">
        <h2 class="titulo-articulos">EXPERIENCIAS DE USUARIOS</h2>
        <article class="articulos">
            <div class="articulo-caja esconder-mobile">
                <div class="img1">
                <div class="articulo-imagen">
                    <img src="{{ url_for('static', path='/img/imagen3 (1).png') }}" alt="imagen1" 
                    width="30%"
                    />
                </div>
                <div class="articulo-nombre">
                    <h4>Sofia J</h4>
                </div>
                <div class="font-parrafo ">
                    <p>
                        “Estoy agradecida con todo el equipo medico y la forma en como esta pagina facilita mis cosas , debido al trabajo me queda poco tiempo para todo y gracias a este espacio tengo todas mis diligencias de salud al alcance de mi mano ”
                    </p>
                </div>
            </div>
            </div>
            <div class="articulo-caja">
                <div class="img1">
                <div class="articulo-imagen">
                    <img src="{{ url_for('static', path='/img/imagen3 (2).png') }}" alt="imagen2"
                    width="30%"
                    />
                </div>
                <div class="articulo-nombre">
                    <h4>Carlos A.</h4>
                </div>
                <div class="font-parrafo ">
                    <p>
                        “que maravilla poder hacer todas las diligencias medicas desde una pagina web , pude agendar mis citas de forma rapida y sencilla , es facil de usar incluso para personas que no tengan mucho conocimiento en tecnologia ”
                    </p>
                    </div>
                </div>
            </div>
            <div class="articulo-caja esconder-mobile">
                <div class="img1">
                <div class="articulo-imagen">
                    <img src="{{ url_for('static', path='/img/imagen3 (3).png') }}" alt="imagen2" 
                    width="30%"
                    />
                </div>
                <div class="articulo-nombre">
                    <h4>Adriana R</h4>
                </div>  
                <div class="font-parrafo ">
                    <p>
                        “Esta plataforma es muy facil de usar , desde mi trabajo logre realizar la gestion de mis medicamentos ,sin tener que hacer largas filas o esperas en cola, sin duda es un gran avance para mejorar la experiencia a todos los usuarios”
                    </p>
                </div>
            </div>
            </div>
        </article>
    </main>
    <section class="pre-footer">
        <h3 class="pre-footer-texto">SIAS , EL PLACER DE ESTAR CONTIGO.</h3>
        <div class="pre-footer-button">
            <a href="#" class="button-blanco">CONOCENOS</a>
        </div>
    </section>
        <footer>
          <img src="{{ url_for('static', path='/img/logo.png') }}" alt="SIAS" width="10%" class="header-logo"/>
      <nav id="menu">
        <ul class="contenedor-li">
          <li><a href="#">Politicas de privacidad</a></li>
          <li><a href="#">Medios de comunicacion</a></li>
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Noticias</a></li>
        </ul>
      </nav>
            </div>
            <div class="text-align-center">
              <form action="https://www.google.com" method="get">
                  <input class="input" id="search" type="text" name="Update in your inbox.."
                      placeholder="Busqueda..." />
                  <a href="#" type="submit" class="button" id="boton-ir">IR</a>
              </form>
          </div>
          </div>
        </div>
        </footer>
    <script src="{{ url_for('static', path='/js/logic_pagina_principal.js') }}"></script>
  </body>
</html>
