* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
z body {
  background-image: url("/static/img/imgFondoInicioSesion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  max-width: 100vw; /* Limita el ancho máximo */
  overflow-x: hidden; /* Evita el desbordamiento */
}

header {
  background-color: #3f7fc2;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  position: relative;
}

.menu-icon {
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 100%;
}

.menuOptions {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #60c2f7;
  color: blue;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuOptions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuOptions ul li {
  padding: 10px;
}

.menuOptions ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menuOptions ul li:hover {
  background-color: hsl(252, 58%, 40%);
}

/*estilos para el boton buscar*/

.search_container_padre {
  background-color: #e8e6e6;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 2%;
}

.search {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: #333;
}

h1 {
  text-align: center;
  margin: 0.5%;
  color: #3f7fc2;
}

/*estilos parte formulario*/
.login-contenedor {
  justify-content: center;
  text-align: center;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(165, 162, 162, 0.1);
  width: 100%;
}

.contenedor_seleccion {
  margin: 1%;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  all: unset;
  width: 25%;
  padding: 1%;
  background-color: rgba(243, 239, 239, 0.875);
  border: 1px solid hsl(0, 14%, 90%);
  border-radius: 4px;
  font-size: 14px;
}

input[type="password"] {
  margin-top: 0.5%;
}

input[type="checkbox"] {
  margin-right: 1%;
}

#email {
  width: 25%;
  padding: 1%;
  background-color: rgba(243, 239, 239, 0.875);
  border: 1px solid hsl(0, 14%, 90%);
  border-radius: 4px;
  font-size: 14px;
}

/*Terminos y condiciones-contraseña */
.form-group {
  margin-bottom: 1%;
  color: rgb(157, 151, 151);
}
/*estilo error mensaje al ingresar campos incorrectos*/
.error-message {
  color: red;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

/*estios registrate aqui-olvido contraseña*/

.registro-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1%;
}

/*estilo olvido contraseña*/
.restaurar_contraseña {
  padding-left: 5%;
}

/*estilos hiperviculos*/
.registro-container a {
  display: inline-flex;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

/*estilo evento de regitrarse-olvido contraseña*/
.registro-container a:hover {
  text-decoration: underline;
}

/*estilo boton*/
button {
  width: 10%;
  padding: 1%;
  background-color: #0056b3;
  color: #3f7fc2;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.boton:hover {
  background-color: rgb(70, 150, 237);
}

/*para tablets*/
@media (max-width: 768px) or (max-width: 480px) {
  .titulo {
    font-size: 30px;
    padding: 5%;
  }

  input[type="text"],
  input[type="password"],
  select,
  .boton {
    font-size: 70%;
    padding: 3%;
    margin: 2%;
  }

  #email {
    width: 30%;
    font-size: 70%;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .search_container_padre {
    width: 30%;
  }

  body {
    background-image: url("/static/img/imgFondoInicioSesion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 300px) {
  body {
    background-image: url("/static/img/imgFondoInicioSesion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .boton {
    width: 30%;
    color: #0056b3;
  }
}

.forgot-password-form {
  display: none;
  background: linear-gradient(135deg, #6e8efb, hsl(224, 63%, 80%));
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

#botones-recup-contraseña {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  width: 25%;
  margin: 1%;
  margin-left: 38%;
}

.titulo-recup-contraseña {
  color: white;
  font-size: 22px;
  margin-bottom: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.label-recup-contraseña {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

/* Campo de entrada */
input[type="email"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s;
}

input[type="email"]:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.boton {
  flex: 1;
  background: #2c3c8b;
  color: hsl(228, 19%, 95%);
  border: none;
  padding: 10px;
  border-radius: 20%;
  width: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton:hover {
  background: #5e9ae8cc;
  transform: scale(1.05);
}
